/*
Custom Css
*/
.logo-tienda{
    width: 150px;
    height: 150px;
}
.categoria-activa{
    text-decoration: underline !important;
    font-weight: bold !important;
}
.categoria-single{}
.categoria-single a{
    color: grey !important;
    text-decoration: none  !important; 
}
.foto-mis-compras{
    width: 150px;
    height: 150px;
}
.checkout_title{
    color:#343a40;
    text-decoration: none;
}